.bottom-sheet
    position absolute
    bottom 0
    width 100%
    height 100%
    overflow auto
    align-items: center
    max-width: 100vw
    box-sizing border-box
    padding 0.7rem 
    background white
    border-top 0.5px solid rgba(255,255,255,0.2)
    z-index 12
    transform translateY(100%)
    transition transform 400ms
    &.open
        transform translateY(0)
    .sheet-wrapper
        position relative
        padding: 1rem
    .thumbnail-wrapper
        display flex
        flex-direction column
        .row
            display flex
    .expand-icon-wrapper
        position: absolute
        left 24px
        top 24px
        div
            cursor pointer
            display inline-block
            padding: 1rem
            border-radius: 100%
            width 24px
            height 24px
            transition background-color 200ms
            &:hover
                background-color: rgba(0,0,0,0.3)
            svg
                width 24px
                height 24px
                transform rotate(180deg)
                .icon
                    fill black