html,body
    overflow hidden
    direction: rtl
    background #28354c
.wrapper
    min-height 100vh
    max-height 100vh
    min-width 100vh
    max-width 100vh
    height 100vh
    width 100%
    overflow hidden