.top-bar
    position: absolute
    z-index 12
    top 0
    height 72px
    width 100%
    display flex
    padding 1.3rem
    box-sizing border-box
    &.light
        svg
            width 24px
            height 24px
            .icon
                fill white
    div
        div
            cursor pointer
            display inline-block
            padding: 1rem
            border-radius: 100%
            width 24px
            height 24px
            transition background-color 200ms
            &:hover
                background-color: rgba(0,0,0,0.3)
            svg
                width 24px
                height 24px
                .icon
                    fill black
    .push
        flex-grow 1